.contact {
  background-color: $grey;
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      color: $darkBlue;
    }
    > a {
      text-transform: lowercase;
    }
    ul {
      display: flex;
      justify-content: center;
      gap: 20px;
      a {
        font-size: 30px;
      }
    }
  }
}
