.box {
  padding: 20px;
  box-shadow: $boxShadow;
  cursor: pointer;
  transition: $transition;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  &:hover {
    transform: translateY(-10px);
    box-shadow: $boxShadowHover;
  }
}
.section {
  padding-top: 70px;
  padding-bottom: 70px;
}
