.arrows {
  display: none;
  @include breakpoint(sm) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 30px;
    @include d-flex;
    font-size: 40px;
  }
  a {
    position: relative;
    color: white;
    animation: arrow 3s infinite forwards;
    @include motion(arrow) {
      0% {
        transform: translateX(0);
      }
      40% {
        transform: translateX(10px);
      }
      60% {
        transform: translateX(0);
      }
      80% {
        transform: translateX(10px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}
