* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
p {
  line-height: 1.7;
  font-size: 18px;
  color: rgb(102, 100, 100);
}
a {
  text-decoration: none;
  display: block;
  text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  width: 100%;
}
