$boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$transition: 0.3s;
$hoverColor: rgb(207, 202, 202);
$mainColor: #10cab7;
$boxShadowHover: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$darkBlue: #2c4755;
$grey: #f6f6f6;
