@mixin flex-center($gap: 0) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin overly($background, $opacity) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($background, $opacity);
}

@mixin d-grid($size: 300px, $gap: 0) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($size, 1fr));
  gap: $gap;
}

@mixin d-flex($gap: 0) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}

@mixin transition($props: all, $time: 0.3s, $ease: ease-in-out) {
  transition: $props $time $ease;
}

@mixin motion($id) {
  @keyframes #{$id} {
    @content;
  }
}
